.header__lang-link {
    color: #FFF;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    opacity: 100%;
    transition: .3s opacity linear 0s;
}

.header__lang-link:hover {
    opacity: 80%;
}

@media screen and (max-width: 424px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
    }    
}