.photo-grid {
    /* max-width: 1184px; */
    width: calc(100% - 2 * 48px);
    padding: 0;
    margin: 92px auto 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}

@media screen and (max-width: 1279px) {
    .photo-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 14px;
    }
}

@media screen and (max-width: 1023px) {
    .photo-grid {
        width: calc(100% - 2 * 24px);
        margin: 88px auto 0;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }    
}

@media screen and (max-width: 767px) {
    .photo-grid {
        width: calc(100% - 2 * 20px);
        margin-top: 70px;
        gap: 14px;
    }
}

@media screen and (max-width: 424px) {
    .photo-grid {
        width: calc(100% - 2 * 16px);
        margin-top: 64px;
        grid-template-columns: 1fr;
        gap: 12px;
    }
}