.intro__list {
    list-style: none;
    color: #fff;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.5;
    margin: 33px 0 0;
    padding: 0;
}

@media screen and (max-width: 424px) {
    .intro__list {
        margin-top: 34px;
    }
}