.lead__title {
    color: #fff;
    font-family: 'Inter';
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    margin: 0 auto 0;
    padding: 0;
    max-width: 720px;
}

@media screen and (min-width: 425px) and (max-width: 767px) {
    .lead__title {
        font-size: 60px;
        line-height: 64px;
    }
}

@media screen and (max-width: 424px) {
    .lead__title {
        font-size: 40px;
        line-height: 44px;
    }
}
