.footer__links {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 18px;
}

@media screen and (max-width: 767px) {
    .footer__links {
        flex-direction: column;
        gap: 40px;
    }
}

@media screen and (max-width: 424px) {
    .footer__links {
        gap: 32px;
    }
}