.lead__image {
    max-width: 100%;
    margin: 64px auto 0;
    padding: 0;
    object-fit: contain;
    border: 0;
}

.lead__image::after {
    content: '';
    width: 0;
    height: 0;
    margin-left: -1px;
    padding-top: calc(615 / 984 * 100%);
}

@media screen and (max-width: 1279px) {
    .lead__image {
        margin: 56px auto 0;
    }
}

@media screen and (max-width: 767px) {
    .lead__image {
        margin-top: 46px;
    }
}

@media screen and (max-width: 424px) {
    .lead__image {
        margin-top: 40px;
    }
}