.cover {
    position: relative;
    min-height: 740px;
    margin: 0 48px 0;
    padding: 0;
    padding-top: 245px;
    background-image: url(../../images/cover-trains.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .cover{
        min-height: 640px;
        margin: 0;
        padding-top: 195px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .cover {
        min-height: 480px;
        padding-top: 115px;
        margin: 0;
    }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
    .cover {
        min-height: 300px;
        margin: 0;
        padding: 40px;
    }
}

@media screen and (max-width: 425px) {
    .cover {
        min-height: 200px;
        padding-top: 33px;
        margin: 0;
    }
}

/* .cover::after {
    content: '';
    width: 0;
    height: 0;
    margin-left: -1px;
    padding-top: calc(740 / 1184 * 100%);
} */
