.cover__background {
    width: calc(100% - 2 * 48);
    margin: 0 auto 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.cover__background::after {
    content: '';
    width: 0;
    height: 0;
    margin-left: -1px;
    padding-top: calc(740 / 1184 * 100%);
}