.lead__caption {
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    padding: 0;
    margin: 6px 0 0;
    text-align: start;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .lead__caption {
        margin-left: 24px;
    }    
}

@media screen and (min-width: 425px) and (max-width: 767px) {
    .lead__caption {
        margin-left: 20px;
    }
}

@media screen and (max-width: 424px) {
    .lead__caption {
        margin-left: 16px;
        margin-top: 5px;
    }
}