.cover__title {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    max-width: 560px;
    margin: 0 auto 32px;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

@media screen and (min-width: 425px) and (max-width: 767px) {
    .cover__title {
        font-size: 42px;
        line-height: 46px;
        margin-bottom: 24px;
        padding: 0;
        max-width: 400px;
    }
}

@media screen and (max-width: 425px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
        margin-bottom: 16px;
        max-width: 288px;
        padding: 0 20px 0;
    }
}