.intro__title {
    color: #fff;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 424px) {
    .intro__title {
        font-size: 32px;
        line-height: 35px;
        padding-right: 40px;
    }
}